.whatsapp-image-2023-10-21-at-2 {
  width: 114.7px;
  height: 100px;
  background-image: url(/public/whatsapp-image-20231021-at-2216-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
