@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-josefin-sans: "Josefin Sans";
  --font-saira-condensed: "Saira Condensed";
  --font-karantina: Karantina;
  --font-jost: Jost;

  /* font sizes */
  --font-size-15xl-7: 34.7px;
  --font-size-18xl-3: 37.3px;
  --font-size-base-1: 16.1px;
  --font-size-4xl: 23px;
  --font-size-5xl-5: 24.5px;
  --font-size-11xl-7: 30.7px;
  --font-size-65xl-4: 84.4px;
  --font-size-40xl-8: 59.8px;
  --font-size-23xl-1: 42.1px;
  --font-size-271xl-2: 290.2px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #716f6f;
  --color-black: #000;
  --color-gainsboro-100: rgba(217, 217, 217, 0);
  --color-gray-100: #fdfdfd;
  --color-gray-200: #0d0d0d;
  --color-silver: #c1c1c1;

  /* Border radiuses */
  --br-6xs: 7px;
  --br-5xl: 24px;
  --br-11xl: 30px;
}
